{
    "presets": [
        "@babel/preset-env"
    ],
    "plugins": [
        ["@babel/plugin-transform-modules-commonjs"],
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "@utils": "./utils",
                    "@errors": "./utils/errors",
                    "@validation": "./utils/validations",
                    "@router": "./lib/router",
                    "@resource": "./resource",
                    "@models": "./models",
                    "@middleware": "./middleware",
                    "@aws": "./aws",
                    "@config": "./config",
                    "@constants": "./constants",
                    "@repositories": "./repositories",
                    "@common": "./common",
                    "@test": "./test"
                }
            }
        ]
    ]
}